@{ 
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>
        index
    </title>
</head>

<body>
    <h3>Test</h3>
    <br/>
    <table>
        <thead>
            <tr>
                <td>Название</td>
                <td>Производитель</td>
                <td>Цена</td>
            </tr>
        </thead>
        <tbody>
            @{ 
                foreach (var phone in ViewBag.Phones)
                {
                        <tr>
                            <td>@phone.Name</td>
                            <td>@phone.Producer</td>
                            <td>@phone.Price</td>
                            <td><a href="/Home/Buy/@phone.Id">Купить</a></td>
                        </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>